import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate, train_test_split
from sklearn.preprocessing import StandardScalar
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import classification_report
 

 